html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/source.gif');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    color: rgb(252, 252, 144);
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 560px;
    height: 580px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px;
}

.deck .card {
    height: 106px;
    width: 106px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(180deg);
    transition: width 2s, height 2s, transform 0.8s;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    transform: rotateY(180deg);
    transition: width 2s, height 2s, transform 0.8s;
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.close {
    transform: rotateY(0deg);
    transition: width 2s, height 2s, transform 0.8s;
    background: #2e3d49;
}

.deck .card .red {
    background-color: red;
}

.gold-star {
    color: rgb(252, 252, 144);
}

#timer {
    display: inline-block;
    margin-left: 30px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    background-color: #9D84CB;
    padding: 7px;
    font-size: 20px
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 15px
}

.restart:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}

.Play {
    background: #ffffffed;
    top: 40%;
    left: 48%;
    position: absolute;
    width: 600px;
    height: 450px;
    margin: -175px 0 0 -250px;
    border-radius: 10px;
    color: #e60f4f;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.Play img {
    width: 300px;
    height: 150px;
    margin-bottom: 20px
}

.Play>* {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

button {
    padding: 10px 20px;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: #f30a65;
    background-color: #a5dc86a6;
    border: none;
    transition: 0.5s;
    display: block;
}

#stay {
    padding: 10px 20px;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: #2e3d49;
    background-color: #f30a6547;
    border: none;
    transition: 0.5s;
    display: block;
}

button:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 5px;
}

footer h1 {
    font-family: 'Niconne', cursive;
    color: rgb(252, 252, 144);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 610px) {
    .deck {
        width: 500px;
        height: 600px;
        padding: 20px;
        margin: 0;
    }
    .deck .card {
        height: 100px;
        width: 100px;
        margin-bottom: 50px
    }
    .score-panel {
        width: 420px;
        border-radius: 5px
    }
    #timer {
        margin-left: 60px
    }
    h1 {
        font-size: 25px
    }
    .Play {
        width: 400px;
        height: 350px;
        border-radius: 8px;
        top: 35%;
        left: 58%;
        font-size: 20px;
    }
    button,
    #stay {
        padding: 10px 20px;
        text-align: center;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
    .Play img {
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width: 414px) {
    .deck {
        width: 85%;
        height: 460px;
        padding: 15px;
        margin: 0;
    }
    .deck .card {
        height: 70px;
        width: 70px;
        margin-bottom: 50px
    }
    .score-panel {
        width: 250px;
        border-radius: 5px;
        font-size: 15px
    }
    #timer {
        margin-left: 20px
    }
    h1,
    footer h1 {
        font-size: 20px
    }
    .Play {
        width: 300px;
        height: 300px;
        border-radius: 8px;
        top: 40%;
        left: 75%;
        font-size: 20px;
    }
}

@media screen and (max-width: 365px)and (min-width: 320px) {
    .deck {
        width: 85%;
        height: 420px;
    }
    .deck .card {
        height: 60px;
        width: 60px;
    }
    .Play {
        width: 250px;
        height: 300px;
        border-radius: 8px;
        top: 25%;
        left: 85%;
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) and (min-width: 275px) {
    .deck {
        width: 85%;
        height: 400px;
    }
    .deck .card {
        height: 50px;
        width: 50px;
    }
    .score-panel {
        width: 250px;
        border-radius: 5px;
        font-size: 15px
    }
    .Play {
        width: 200px;
        height: 250px;
        border-radius: 8px;
        top: 40%;
        left: 100%;
        font-size: 20px;
    }
    button,
    #stay {
        padding: 6px 12px;
        font-size: 16px;
        text-align: center;
    }
    .Play img {
        width: 150px;
        height: 80px;
    }
}

@media screen and (max-width: 275px) and (min-width: 225px) {
    .deck {
        width: 85%;
        height: 350px;
    }
    .deck .card {
        height: 40px;
        width: 40px;
        padding: 5px
    }
    .score-panel {
        width: 200px;
        border-radius: 5px;
        font-size: 10px
    }
    h1,
    footer h1 {
        font-size: 15px
    }
    .Play {
        width: 200px;
        height: 250px;
        border-radius: 8px;
        top: 25%;
        left: 105%;
    }
    button,
    #stay {
        padding: 6px 12px;
        font-size: 16px;
        text-align: center;
    }
    .Play img {
        width: 150px;
        height: 80px;
    }
}

@media screen and (max-width: 225px)and (min-width: 200px) {
    .deck {
        width: 85%;
        height: 320px;
    }
    .deck .card {
        height: 35px;
        width: 35px;
        padding: 5px
    }
    .score-panel {
        width: 180px;
        border-radius: 5px;
        font-size: 6px
    }
    #timer {
        margin-left: 2px
    }
    h1,
    footer h1 {
        font-size: 15px
    }
    .Play {
        width: 150px;
        height: 250px;
        border-radius: 8px;
        top: 40%;
        left: 135%;
    }
    button,
    #stay {
        padding: 6px 12px;
        font-size: 16px;
        text-align: center;
    }
    .Play img {
        width: 90px;
        height: 50px;
    }
}

@media screen and (max-width: 200px)and (min-width: 100px) {
    .deck {
        width: 85%;
        height: 650px;
    }
    .deck .card {
        height: 35px;
        width: 35px;
        padding: 5px
    }
    .score-panel {
        width: 150px;
        border-radius: 5px;
        font-size: 3px
    }
    #timer {
        margin-left: 2px
    }
    h1,
    footer h1 {
        font-size: 5px
    }
    .Play {
        width: 130px;
        height: 250px;
        border-radius: 8px;
        top: 40%;
        left: 175%;
    }
    button,
    #stay {
        padding: 6px 12px;
        font-size: 16px;
        text-align: center;
    }
    .Play img {
        width: 90px;
        height: 50px;
    }
}
